.container{

  }
  .title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .coin-name{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .coin-link{
    padding-left: 5px;
  }
  div.row{
     margin-left: 0px;
     margin-right: 0px;
  }
  div.col-sm-12{
    padding-left: 0px;
    padding-right: 0px;
  }
  /* .animation{
    background-color: white;
    transition: background-color 1s;
  } */
  .coin_pumb_now{
    background-color: #c9edc9;
  }
  .coin_dump_now{
    background-color: red;
  }
  .coin_default{
    background-color: white;
    transition: background-color 1s;
  }

  @keyframes myAnimation {
  from {background-color:#f4e9de}
  to {background-color:white}
}
